<<<<<<< HEAD
<div class="jumbotron center">
     <h1>Welcome to my app!</h1>
     <p>
       <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
  </p>    
</div>
=======
<h1>Welcome to Philip's App<h1>
<p>Quickly Sign up <%= link_to "here man" , "#" %>
	

>>>>>>> efda2a7f5dcf590b65110b4e9ec82410a006d8a4
